.sunrise.light {
  --background: 0 0% 98%;
  --foreground: 30 50% 20%;
  --card: 0 0% 98%;
  --card-foreground: 30 50% 20%;
  --popover: 0 0% 98%;
  --popover-foreground: 30 50% 20%;
  --primary: 30 80% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 70% 50%;
  --secondary-foreground: 30 10% 10%;
  --muted: 30 90% 90%;
  --muted-foreground: 30 50% 20%;
  --accent: 30 80% 70%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 30 30% 85%;
  --input: 30 30% 85%;
  --ring: 30 30% 85%;
  --radius: 0.5rem;

  --chart-1: 30 60% 50%;
  --chart-2: 30 50% 45%;
  --chart-3: 30 40% 40%;
  --chart-4: 30 70% 60%;
  --chart-5: 30 80% 55%;

  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 30 50% 20%;
  --sidebar-primary: 30 80% 60%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 30 70% 50%;
  --sidebar-accent-foreground: 30 10% 10%;
  --sidebar-border: 30 30% 85%;
  --sidebar-ring: 30 30% 85%;
}

.sunrise.dark {
  --background: 30 10% 10%;
  --foreground: 0 0% 98%;
  --card: 30 10% 10%;
  --card-foreground: 0 0% 98%;
  --popover: 30 10% 10%;
  --popover-foreground: 0 0% 98%;
  --primary: 30 80% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 30 20% 20%;
  --secondary-foreground: 0 0% 98%;
  --muted: 30 20% 20%;
  --muted-foreground: 30 90% 70%;
  --accent: 30 20% 20%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 60% 50%;
  --destructive-foreground: 210 60% 95%;
  --border: 30 20% 20%;
  --input: 30 20% 20%;
  --ring: 30 50% 80%;

  --chart-1: 30 60% 50%;
  --chart-2: 30 50% 45%;
  --chart-3: 30 40% 40%;
  --chart-4: 30 70% 60%;
  --chart-5: 30 80% 55%;

  --sidebar-background: 30 10% 10%;
  --sidebar-foreground: 30 90% 90%;
  --sidebar-primary: 30 80% 60%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 30 20% 20%;
  --sidebar-accent-foreground: 30 90% 90%;
  --sidebar-border: 30 20% 20%;
  --sidebar-ring: 30 50% 80%;
}