.sunset.light {
  --background: 30, 80%, 90%;
  --foreground: 25, 20%, 20%;

  --muted: 30, 10%, 80%;
  --muted-foreground: 25, 20%, 20%;

  --popover: 30, 80%, 80%;
  --popover-foreground: 25, 20%, 20%;

  --border: 25, 20%, 40%;
  --input: 25, 20%, 40%;

  --card: 30, 80%, 90%;
  --card-foreground: 25, 20%, 20%;

  --primary: 30, 80%, 70%;
  --primary-foreground: 25, 20%, 90%;

  --secondary: 15, 80%, 60%;
  --secondary-foreground: 25, 20%, 20%;

  --accent: 0, 80%, 50%;
  --accent-foreground: 25, 20%, 90%;

  --destructive: 0, 70%, 50%;
  --destructive-foreground: 25, 20%, 90%;

  --ring: 25, 20%, 40%;
}

.sunset.dark {
  --background: 25, 20%, 20%;
  --foreground: 30, 80%, 90%;

  --muted: 25, 20%, 40%;
  --muted-foreground: 30, 80%, 90%;

  --popover: 25, 20%, 20%;
  --popover-foreground: 30, 80%, 90%;

  --border: 30, 10%, 80%;
  --input: 30, 10%, 80%;

  --card: 25, 20%, 20%;
  --card-foreground: 30, 80%, 90%;

  --primary: 30, 80%, 70%;
  --primary-foreground: 25, 20%, 20%;

  --secondary: 15, 80%, 60%;
  --secondary-foreground: 30, 80%, 90%;

  --accent: 0, 80%, 50%;
  --accent-foreground: 25, 20%, 20%;

  --destructive: 0, 70%, 50%;
  --destructive-foreground: 30, 80%, 90%;

  --ring: 30, 10%, 80%;
}